{% extends 'base.html' %}

{% block body_block %}
    <div class="text-center mb-4">
        <form id="Enterform" action="{% url 'testing:login' %}" method="post">
            <label for="login">Логин</label>
            <input type="login" name="username" class="form-control" id="login" placeholder="Введите логин" required>
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Введите пароль" required>
            {% csrf_token %}
            <br/>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
{% endblock %}
