{% extends 'base.html' %}

{% block body_block %}
    <div class="text-center mb-4">
        <form id="Enterform" action="{% url 'testing:login' pk=departament.id %}" method="post">
            <label for="login">Введите ФИО</label>
            <input type="login" name="username" class="form-control" id="login" placeholder="Введите полное имя" required>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
{% endblock %}
