{% extends "base.html" %}
{% load static %}
{% load poll_extras %}
{% block auth %}{% endblock %}
{% block scripts %}<script defer src="{% static 'js/test_base.js' %}"></script>{% endblock %}

{% block body_block %}
    <form method="POST" id="testform" action="javascript:void(null);">
        {% csrf_token %}
        <div id="progress-screen">
            {% for question in questions.all|shuffle %}
                {% if question.answers.all|count_of_true_param:"correct" > 0 %}
                    <div id="{{ forloop.counter }}">
                        <div class="lead">{{ question.text|linebreaks }}</div>
                        {% if question.image %}
                            <p style="text-align: center;"><img class="img-fluid" src="{{ question.image.url }}" style="max-height: 400px;" alt="image"></p>
                        {% endif %}
                        <input type="hidden" value="{{question.id}}" name="question_id">
                        <hr/>
                        {% if question.answers.all|count_of_true_param:"correct" == 1 %}
                            {% for answer in question.answers.all|shuffle %}
                                <p><input class="radio" name="{{ question.id }}" type="radio" value="{{ answer.id }}">&nbsp;{{ answer.text }}</p>
                            {% endfor %}
                        {% else %}
                            {% for answer in question.answers.all|shuffle %}
                                <p><input class="check" name="{{ question.id }}" type="checkbox" value="{{ answer.id }}">&nbsp;{{ answer.text }}</p>
                            {% endfor %}
                            <p align="right">Количество ответов: не более <em class="count">{{ question.answers.all|count_of_true_param:"correct" }}</em></p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            <table width="100%" class="tab-content">
                <tr>
                    <td>
                        <div class="btn-group">
                            <button id="back" onclick="clk('back')" type="button" class="btn btn-primary"><-Предыдущий</button>
                            <button id="next" onclick="clk('next')" type="button" class="btn btn-primary">Следующий-></button>
                        </div>
                    </td>
                    <td>
                        <button id="finish" onclick="clk('finish')" type="submit" class="btn btn-primary float-right">Завершить тест</button>
                    </td>
                </tr>
            </table>
            <div style="position: fixed; height: 100%; top: 0px; right: 10%; display: flex; flex-direction: column; flex-wrap: wrap;">
                {% for question in questions.all %}
                    <a style="height: 40px; width: 40px;" id="num_{{ forloop.counter }}" onclick="clk({{ forloop.counter }})" class="rounded page-link">{{ forloop.counter }}</a>
                {% endfor %}
            </div>
    <div class="text-center text-info" style="display: block; bottom: 5px">Осталось: <em id="min">{{ test.time }}</em>:<em id="sec"></em></div>

        <input id="next_url" type="hidden" value="{% if test.logged %}{% url 'testing:auth_test_list' pk=test.departament.id %}{% else %}{% url 'testing:test_list' pk=test.departament.id %}{% endif %}">
        <input id="sync_url" type="hidden" value="{% url 'testing:sync' %}">
    </form>

    <div class="modal fade" id="result" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p id="response"></p>
                </div>
                <div class="modal-footer">
                    <button onclick="LoadURL()" type="button" class="btn btn-primary" data-dismiss="modal">Далее</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}