{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/testing.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.jpg' %}"/>
    <title>Система тестирования</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div><a href="logout">Выйти</a></div>
    {% else %}
        <div><a href="login">Войти</a></div>
    {% endif %}
    <div class="container" style="width: 75%;">
        <div class="jumbotron" style="padding-top: 0px; padding-bottom: 15px;">
            <form>{% for message in messages %}<div class="message {{ message.tags }}">{{ message }}</div>{% endfor %}</form>
            {% block body_block %}{% endblock %}
        </div>
    </div>
</body>
</html>

